REDDIT_CLIENT_ID = "REDDIT_CLIENT_ID_HERE"
REDDIT_CLIENT_SECRET = "REDDIT_CLIENT_SECRET_HERE"
DISCORD_CLIENT_ID = "DISCORD_CLIENT_ID_HERE"
DISCORD_CLIENT_SECRET = "DISCORD_CLIENT_ID_HERE"
DISCORD_BOT_TOKEN = "DISCORD_BOT_TOKEN_HERE"
REDDIT_USERNAME = "REDDIT_USERNAME_HERE"
OAUTH2_REDIRECT_URL = "OAUTH2_REDIRECT_URL_HERE"
DISCORD_API_ENDPOINT = 'https://discordapp.com/api/v6'
FLASK_SECRET = "FLASK_SECRET_HERE"
REDIS_HOST = 'localhost'
REDIS_PORT = 5379
REDIS_PASSWORD = ''